@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #f9f9f9;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}
.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}
.profile {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
  padding-left: 5rem;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile-name {
  font-size: 2rem;
  font-weight: 500;
}
/* Daily */
.daily {
  padding-top: 2rem;
  padding-left: 5rem;
}
.daily-head {
  font-size: 1.5rem;
  font-weight: 500;
}
.amount-top {
  font-size: 2.5rem;
  font-weight: 500;
}
.amount {
  font-weight: 400;
}
.data-text {
  color: var(--text-color);
}
.daily-data-top,
.daily-data {
  padding-bottom: 0.5rem;
}

.btn {
  background: var(--primary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color: var(--primary-color-light);
}
/* Recent Transactions */
.recent-transactions {
  padding-top: 2rem;
  padding-left: 5rem;
}
.recent-head {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.recent-data {
  margin-bottom: 1rem;
  border-bottom: 1px solid #aaa;
  font-weight: 500;
  width: 18rem;
}
.recent-date {
  color: var(--text-color);
}

/* Main */
.main {
  position: absolute;
  top: 0;
  top: 0;
  left: 500px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--sidebar-color);
  transition: var(--tran-03);
}

.main-head {
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}
.sub-head {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 2rem 0rem 2rem;
}
.main-datas {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding-top: 1rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.main-data {
  border-bottom: 1px solid var(--primary-color);
}
.main-amt {
  font-size: 1.5rem;
  font-weight: 400;
}
.main-text {
  color: var(--text-color);
  padding-bottom: 0.5rem;
}
/* Charts */
#chart {
  max-width: 500px;
}
#chart-1 {
  max-width: 120px;
}
#chart-2 {
  max-width: 120px;
}
#chart-3 {
  max-width: 120px;
}
.compare-container {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}
.compare-heading {
  font-size: 1.5rem;
  font-weight: 500;
}
.compare-sub-heading {
  color: var(--text-color);
}
.compare-data {
  padding-top: 10px;
  width: 150px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.compare-data-n {
  width: 150px;
  padding-bottom: 10px;
}
.btn-select {
  color: var(--text-color);
  border: none;
}
.round-chart {
  display: flex;
  flex-direction: row;
}
.data-chart {
  display: flex;
}
/* Side */
.side {
  position: absolute;
  top: 0;
  top: 0;
  left: 1100px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--sidebar-color);
  transition: var(--tran-03);
}
.retirement {
  margin-top: 2rem;
  background: var(--toggle-color);
  border-radius: 10px;
  padding: 3rem;
  width: 350px;
}
.retirement-heading {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.slider-pc {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.slider-text {
  font-weight: 500;
}
.percentage {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
.retirement-slider {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.retirement-pc {
  padding: 0.5rem 0 1rem 0;
  display: flex;
  gap: 1rem;
}
.btn-links {
  display: flex;
  padding-top: 1rem;
  gap: 1.5rem;
  flex-direction: column;
  text-align: center;
}
.btn-link {
  background: var(--primary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  color: var(--primary-color-light);
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}
/* questions */
.questions {
  margin: 2rem;
  padding: 1rem;
  border-left: 1px solid #695cfe;
}
.quest-head {
  font-size: 1.2rem;
  font-weight: 400;
}
.quest-sub-head {
  color: var(--text-color);
}
